*{
    box-sizing: border-box;
}
body{
    background-color:skyblue;
}
h1{
    font-family: verdana;
    color: blue;
}
.small{
    color:blue;
    width: 450px;
    padding: 70px 40px;
    top: 50%;
    left: 50%;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
    border-radius: 10px;
    justify-content:space-between;
}
input{
    width: 100%;
    height: 50px;
    border: 2px;
    border-radius: 5px;
    color: blue;
}
input.focus{
    color: skyblue;
}
